/* @tailwind base;
@tailwind components;
@tailwind utilities; */

h2 {
  color: #25292d;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
}

h4 {
  color: #25292d;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}
